@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
}

h1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
}

input {
  font-family: "Space Mono";
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid #f3f2fa;
  color: #f3f2fa;
  width: 100%;
}

input::placeholder {
  color: #6d6d6e;
}

.header-bar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 40px;
  padding: 20px;
  /* background-color: gray; */
}

.version {
  font-family: "Space Mono";
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.version:hover {
  color: #f3f2fa;
  text-shadow: currentColor 0px 0 30px;
}

.input {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 46px;
  /* background-color: #3df793; */
  border: 2px solid #3df793;
  font-family: "Space Mono";
  font-size: 30px;
  /* font-weight: bold; */
  color: #3df793;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.add-button:hover {
  color: black;
  background-color: #3df793;
  box-shadow: currentColor 0px 0 30px;
}

.green {
  color: #3df793;
}

.white {
  color: #f3f2fa;
}

.mid {
  color: #6d6d6e;
}
